# Environment & secrets
.env

# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Data (raw data không commit vào repo)
data/raw/**
data/processed/**
!data/raw/ground_truth/
!data/raw/ground_truth/.gitkeep
!data/processed/
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
